* {
  margin: 0;
  padding: 0;
}

header, 
footer,
#container-1 {
  background-color: #1F2937;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

h3 {
  font-size: 24px;
  color: #F9FAF8;
}

button {
  background-color: #3882F6;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#left-content-text, 
a {
  font-size: 18px;
  color: #E5E7EB;
}

#container-3 {
  background-color: #E5E7EB;
}

#container-3 > p {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
}

.cta-content {
  background-color: #3882F6;
}