body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100dvh;
}

header, 
footer {
  background-color: #1F2937;
  display: flex;
}

footer {
  justify-content: center;
  align-items: center;
}

header, 
.container {
  padding: 16px 64px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

h3 {
  font-size: 24px;
  color: #F9FAF8;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  border-radius: 8px;
  padding: 6px 30px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#left-content-text,
footer, 
a {
  font-size: 18px;
  color: #E5E7EB;
}

#header-left {
  margin-right: auto;
}

#header-right {
  margin-left: auto;
  display: flex;
  gap: 8px;
}

#container-1 {
  background-color: #1F2937;
}

#container-3 {
  background-color: #E5E7EB;
}

#container-3 > p {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
}

.call-to-action {
  background-color: #3882F6;
  padding: 24px 48px;
}

.call-to-action > button {
  border: 2px solid #E5E7EB;
}